# IntelliJ IDEA project files
.idea/
*.iml

# Compiled class files
*.class

# Build output directories
/out/
target/

# Log files
*.log

# Database files
*.db
*.sqlite
*.sql

# Maven build files
dependency-reduced-pom.xml

# Mac system files
.DS_Store

# Temporary files
*.tmp
*.swp
